Algorithms/.vscode/launch.json
cyk/cyk_nalyse.html
cyk/__pycache__/cyk.cpython-38.pyc
Determinisation/.idea/Determination.iml
Determinisation/.idea/misc.xml
Determinisation/.idea/modules.xml
Determinisation/.idea/vcs.xml
Determinisation/.idea/workspace.xml
Determinisation/.idea/inspectionProfiles/profiles_settings.xml
Determinisation/__pycache__/Automate.cpython-37.pyc
Determinisation/__pycache__/Automate.cpython-38.pyc
Determinisation/__pycache__/Expressions.cpython-37.pyc
Determinisation/__pycache__/Expressions.cpython-38.pyc
Determinisation/__pycache__/Kleen.cpython-37.pyc
Determinisation/__pycache__/main.cpython-37.pyc
Determinisation/__pycache__/My_lib.cpython-37.pyc
Determinisation/__pycache__/My_lib.cpython-38.pyc
mysqlPy/__pycache__/db.cpython-38.pyc
